<div class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <div class="logo"><h1>@Framework.Resources.Titles.Titles.HeaderTitle</h1></div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>
    <ul class="nav navbar-nav navbar-right language-selector-button">
        <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-flag-o"></i>
            </a>

            <ul class="dropdown-menu">
                @{
                    foreach (var systemLanguage in Framework.Model.Util.LanguageProvider.SystemLanguages.Languages)
                    {
                        <li>@Html.ActionLink(systemLanguage.Title, "Index", new { language = systemLanguage.Code, controller = "Home" })</li>
                    }
                }
            </ul>

        </li>
    </ul>

</div>